{% extends 'base.html.twig' %}

{% block body %}

  <main class="container">
      <div class="row">
          <div class="col-md-12">
              {{ form_start(form) }}
              {{ form_errors(form) }}

              {{ form_row(form.query, {'attr' : {'class' : 'form-control'}}) }}
              {{ form_row(form.city, {'attr' : {'class' : 'form-control'}}) }}
              {{ form_row(form.days, {'attr' : {'class' : 'form-control'}}) }}

              {{ form_row(form.save, { 'label': 'Let\'s go', 'attr' : {'class' : 'btn btn-primary submit-button'} }) }}
              {{ form_end(form) }}
          </div>
      </div>
  </main>
{% endblock %}